.List {
  margin-bottom: var(--space-medium);
  &_text {
    display: flex;
    align-items: center;

    &::before {
      content: "•";
      margin-right: var(--space-small);
    }

    .CheckButton {
      &:hover {
        cursor: default;
        color: unset;
      }
      height: unset;
      padding: 0px;
      margin-left: var(--space-small);
    }
  }
}
