.Login {
  height: 100vh;
  background-image: url("/images/login.jpg");
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-repeat: no-repeat;
  background-size: cover;

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 5 / 9;
  }

  &_hdl {
    margin-bottom: 10px;
  }

  &_subHdl {
    margin-bottom: 20px;
  }

  &_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .Link {
      height: fit-content;
    }
  }
}
